server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "1234"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    filters:
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      lowpass: true
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    trackStuckThresholdMs: 10000
    youtubePlaylistLoadLimit: 6
    playerUpdateInterval: 5
    resamplingQuality: LOW
    opusEncodingQuality: 10
    seekGhosting: true
    gc-warnings: true

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

sentry:
  dsn: ""
  environment: "production"

logging:
  file:
    path: ./logs/
  level:
    root: INFO
    lavalink: INFO

